<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="registro.css">
        <title>Registro Paciente</title>
    </head>
    <body>
            <div class="container" id="advanced-search-form">
        <h2 class="text-center header">Paciente</h2>
        <form>
            <div class="form-group">
                <label for="first-name">Email</label>
                <input type="text" class="form-control" placeholder="" id="first-name">
            </div>
            <div class="form-group">
                <label for="last-name">Contraseña</label>
                <input type="text" class="form-control" placeholder="" id="last-name">
            </div>
            <div class="form-group">
                <label for="country">Obra Social</label>
                <input type="text" class="form-control" placeholder="" id="country">
            </div>
            <div class="form-group">
                <label for="number">N° Obra Social</label>
                <input type="text" class="form-control" placeholder="" id="number">
            </div>
            <div class="form-group">
                <label for="age">Edad</label>
                <input type="text" class="form-control" placeholder="" id="age">
            </div>
            <div class="form-group">
                <label for="email">DNI</label>
                <input type="email" class="form-control" placeholder="" id="email">
            </div>
            <div class="form-group">
                <label for="category">Celular</label>
                <input type="text" class="form-control" placeholder="" id="category">
            </div>
            <div class="form-group">
                <label>Sexo</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Hombre</label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Mujer</label>
                </div>
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class=""></span>
                Registrar</button>
        </form>
    </div>
    </body>
</html>
