<footer class="pie-pagina">
        <div class="grupo-1">
            <div class="boxth">
                <figure>
                    <a href="#">
                        <img src="/img/logo4t.png" alt="Logo de Medilyg">
                    </a>
                </figure>
            </div>

            <div class="boxth">
               <!--    < div class="footer-links">
                  <p>  <a href="#">Inicio</a> </p>
                    
                   <p> <a href="#">Registrarse</a> </p>
                    
                    <p> <a href="#">Cerrar Sesion</a> </p>
                </div>     -->
                 



               <h2>SOBRE NOSOTROS </h2>
                <p>Somos un conjunto de profesionales de la salud auto-organizados.</p>
                <p>Con nuestra propia plataforma de atención a pacientes.</p>
            </div>    

            <div class="boxth">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Grupo 2 G&L</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
