<footer class="pie-pagina">
        <div class="grupo-1" style="display: flex; justify-content: space-evenly; align-items: center; height: 120px;">
            <div class="boxth" style="align-self: normal;">
                <figure>
                    <a href="#">
                        <img src="/img/logo4t.png" alt="Logo de Medilyg">
                    </a>
                </figure>
            </div>

<!--            <div class="boxth">-->
<!--               &lt;!&ndash;    < div class="footer-links">-->
<!--                  <p>  <a href="#">Inicio</a> </p>-->

<!--                   <p> <a href="#">Registrarse</a> </p>-->

<!--                    <p> <a href="#">Cerrar Sesion</a> </p>-->
<!--                </div>     &ndash;&gt;-->




<!--               <h2>SOBRE NOSOTROS </h2>-->
<!--                <p>Somos un conjunto de profesionales de la salud auto-organizados.</p>-->
<!--                <p>Con nuestra propia plataforma de atención a pacientes.</p>-->
<!--            </div>-->

            <div class="boxth" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <h2 style="margin-bottom: 10px;">SIGUENOS</h2>
                <div class="red-social" style="display: flex;">
                    <a href="#" class="fa fa-facebook" style="height: 40px; width: 40px;"></a>
                    <a href="#" class="fa fa-instagram" style="height: 40px; width: 40px;"></a>
                    <a href="#" class="fa fa-twitter" style="height: 40px; width: 40px;"></a>
                    <a href="#" class="fa fa-youtube" style="height: 40px; width: 40px;"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Grupo 2 G&L</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
