

<header class="header">
        <div class="logoth">
            <img src="/img/logo5t.png" alt="Logo de la marca">
        </div>
        <nav>
           <ul class="nav-links">
                <li><a th:href="@{/}">Inicio</a></li>
               
                <li><a href="#">Login</a></li>
           </ul>            
        </nav>
        <a class="btnth" href="#"><button>Cerrar Sesión</button></a>
    </header>
</body>




     
    <!--  <a class="navbar-brand" href="#"><img src="/img/logo2.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
        
       -->
