<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <header th:include="fragments/header :: header"> </header>
    
    <h1>Panel de Administración</h1>
    <ul>
        <li><a th:href="@{/admin/dashboard/crearPaciente}">Crear paciente</a></li>
        <li><a th:href="@{/admin/dashboard/listaPacientes}">Listar Pacientes</a></li>
        <li><a th:href=@{/admin/dashboard/crearProfesional}>Crear Profesional</a></li>
        <li><a th:href=@{/admin/dashboard/listaProfesionales}>Listar Profesionales</a></li>
        <li><a th:href=@{/admin/dashboard/CrearObraSocial}>Crear Obra Social</a></li>
        <li><a th:href=@{/admin/dashboard/listaObraSociales}>listar Obra Sociales</a></li>
        <li><a th:href=@{/ruta}>Listar Turnos</a></li>
    </ul>
</body>

</html>