<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link th:href = "@{/css/headerstyle.css}" rel="stylesheet">
    <link th:href = "@{/css/footerstyle.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/paciente.css">
</head>
<body>
    <header th:include="fragments/header :: header"> </header>
    <main>
        <h1>Panel de Administración</h1>
        <ul>
            <li><a th:href="@{/admin/dashboard/crearPaciente}">Crear paciente</a></li>
            <li><a th:href="@{/admin/dashboard/listaPacientes}">Listar Pacientes</a></li>
            <li><a th:href=@{/admin/dashboard/crearProfesional}>Crear Profesional</a></li>
            <li><a th:href=@{/admin/dashboard/listaProfesionales}>Listar Profesionales</a></li>
            <li><a th:href=@{/admin/dashboard/CrearObraSocial}>Crear Obra Social</a></li>
            <li><a th:href=@{/admin/dashboard/listaObraSociales}>listar Obra Sociales</a></li>
            <li><a th:href=@{/ruta}>Listar Turnos</a></li>
        </ul>
    </main>
    <footer th:replace ="/fragments/footer :: footer"></footer>
</body>

</html>