<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Calificar profesional

    <form style="width: 250px; margin: 0 auto; height: 50px;" th:action="@{/paciente/calificar/turno/{id}(id=${turno.id})}" method="POST">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="calificacion" value="1" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">★</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="calificacion" value="2" id="flexCheckDefault2">
            <label class="form-check-label" for="flexCheckDefault2">★★</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="calificacion" value="3" id="flexCheckDefault3">
            <label class="form-check-label" for="flexCheckDefault3">★★★</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="calificacion" value="4" id="flexCheckDefault4">
            <label class="form-check-label" for="flexCheckDefault4">★★★★</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="calificacion" value="5" id="flexCheckDefault5">
            <label class="form-check-label" for="flexCheckDefault5">★★★★★</label>
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>