<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="master">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profesionales</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/paciente.css">
</head>
<body background="/img/fregistro.jpg">

    <style>
        .botones-container {
            display: flex;
            gap: 14px; /* Espacio entre los botones */
        }
    </style>

    <main layout:fragment="contenido">
        <div class="col-12">
            <h2>Lista de Profesionales</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Matricula</th>
                            <th>Descripcion Especialidad</th>
                            <th>Valor Consulta</th>
                            <th>Especialiad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="profesional: ${profesionales}">
                            <td th:text="${profesional.nombre}"></td>
                            <td th:text="${profesional.apellido}"></td>
                            <td th:text="${profesional.dni}"></td>
                            <td th:text="${profesional.fechaNacimiento}"></td>
                            <td th:text="${profesional.telefono}"></td>
                            <td th:text="${profesional.mail}"></td>
                            <td th:text="${profesional.matricula}"></td>
                            <td th:text="${profesional.descripcionEspecialidad}"></td>
                            <td th:text="${profesional.valorConsulta}"></td>
                            <td th:text="${profesional.especialidad}"></td>
                            <td class="botones-container">
                                <button class="btn btn-info btn-sm editar-btn" data-toggle="modal" data-target="#editarModal"
                                    data-nombre="Juan" data-apellido="Pérez" data-dni="12345678"
                                    data-fecha-nacimiento="1990-01-01" data-telefono="123456789"
                                    data-mail="juan@example.com" data-matricula="12345"
                                    data-descripcion-especialidad="Especialidad"
                                    data-valor-consulta="100" data-especialidad="Especialidad">Editar</button>
                                <a th:href="@{/dashboard/listaPacientes/eliminar/{id_paciente}}"
                                    class="btn btn-eliminar btn-sm btn-responsive" type="submit" id="search">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- Modal de Edición -->
    <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel">Editar Paciente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="dni">DNI:</label>
                            <input type="text" class="form-control" id="dni" name="dni" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
                        </div>
                        <div class="form-group">
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" required>
                        </div>
                        <div class="form-group">
                            <label for="mail">Email:</label>
                            <input type="email" class="form-control" id="mail" name="mail" required>
                        </div>
                        <div class="form-group">
                            <label for="matricula">Matrícula:</label>
                            <input type="text" class="form-control" id="matricula" name="matricula" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcionEspecialidad">Descripción de Especialidad:</label>
                            <input type="text" class="form-control" id="descripcionEspecialidad" name="descripcionEspecialidad"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="valorConsulta">Valor de Consulta:</label>
                            <input type="text" class="form-control" id="valorConsulta" name="valorConsulta" required>
                        </div>
                        <div class="form-group">
                            <label for="especialidad">Especialidad:</label>
                            <input type="text" class="form-control" id="especialidad" name="especialidad" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.editar-btn').click(function () {
                var nombre = $(this).data('nombre');
                var apellido = $(this).data('apellido');
                var dni = $(this).data('dni');
                var fechaNacimiento = $(this).data('fecha-nacimiento');
                var telefono = $(this).data('telefono');
                var mail = $(this).data('mail');
                var matricula = $(this).data('matricula');
                var descripcionEspecialidad = $(this).data('descripcion-especialidad');
                var valorConsulta = $(this).data('valor-consulta');
                var especialidad = $(this).data('especialidad');

                $('#nombre').val(nombre);
                $('#apellido').val(apellido);
                $('#dni').val(dni);
                $('#fechaNacimiento').val(fechaNacimiento);
                $('#telefono').val(telefono);
                $('#mail').val(mail);
                $('#matricula').val(matricula);
                $('#descripcionEspecialidad').val(descripcionEspecialidad);
                $('#valorConsulta').val(valorConsulta);
                $('#especialidad').val(especialidad);
            });
        });
    </script>
</body>
</html>
