<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creación de turnos</title>
</head>
<body>


<form action="/prueba" method="post">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="lunes" name="lunes">
    <label class="form-check-label" for="inlineCheckbox1">Lunes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="martes" name="martes">
    <label class="form-check-label" for="inlineCheckbox2">Martes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="miercoles" name="miercoles">
    <label class="form-check-label" for="inlineCheckbox3">Miercoles</label>
  </div>
  <button type="submit">Enviar</button>
</form>


</body>
</html>