<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Panel</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" type="text/css"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/inicio_paciente.css">
    </head>
    
    <navbar></navbar>

    <body>
        <section class="py-5 my-5">
            <div class="container">
                <h1 class="mb-5"
                    style="text-align: center;  transform: translateY(100%); font-family: 'Times New Roman', Times, serif">
                    Bienvenido  !
                </h1>
                <div class="d-sm-flex">
                    <div class="profile-tab-nav border-right">
                        <div class="p-4">

                            <div class="img-circle text-center mb-3" >
                                <img class="logo" th:if="${paciente.tieneImagen}" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" >
                                <img class="logo" th:unless="${paciente.tieneImagen}" src="/img/img-default.jpg" >

                            </div>


                            <h4  th:text="${paciente.nombre}" class="text-center"></h4>
                            <!--    
                                        <h1 class="mb-5" style="text-align: center;  transform: translateY(100%); font-family: 'Times New Roman', Times, serif">PANEL PACIENTE</h1>
                            
                                        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                                            <div class="profile-tab-nav border-right">
                                                <div class="p-4">
                            
                                                    <div class="img-circle text-center mb-3" >
                                                        <img class="logo" th:if="${tieneImagen}" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" >
                                                        <img class="logo" th:unless="${tieneImagen}" src="/img/img-default.jpg" >
                            
                            -->
                        </div>
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab"
                               aria-controls="account" aria-selected="true">
                                <i class="fa fa-home text-center mr-1"></i>
                                Cuenta
                            </a>
                            <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab"
                               aria-controls="password" aria-selected="false">
                                <i class="fa fa-key text-center mr-1"></i>
                                Turno
                            </a>
                            <a class="nav-link" id="security-tab" data-toggle="pill" href="#security" role="tab"
                               aria-controls="security" aria-selected="false">
                                <i class="fa fa-user text-center mr-1"></i>
                                Modificar Turno
                            </a>
                            <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab"
                               aria-controls="notification" aria-selected="false">
                                <i class="fa fa-bell text-center mr-1"></i>
                                Cambiar Contraseña
                            </a>
                            <a class="nav-link" href="/logout" >
                                <i class="fa fa-bell text-center mr-1"></i>
                                Cerrar Sesion
                            </a>
                        </div>
                    </div>
                    <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                            <h3 class="mb-4">Paciente</h3>
                            
                            <div>

                                <form  enctype="multipart/form-data" method="POST" th:action="@{/paciente/modificar/__${session.usuariosession.id}__} ">
                                    <!--                                    <input hidden th:value="${id}" name="id">-->

                                    <div class="row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label >Nombre</label>
                                                <input name="nombre" id="nombre" type="text" class="form-control" th:value="${paciente.nombre}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="margin-top: -93px; width: 370px;">
                                                <label>Apellido</label>
                                                <input  name="apellido" id="apellido" type="text" class="form-control" th:value="${paciente.apellido}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input name="mail" id="mail" type="text" class="form-control" th:value="${paciente.mail}"disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="margin-top: -100px;">
                                                <label>Telefono</label>
                                                <input name="telefono" id="telefono" type="text" class="form-control" th:value="${paciente.telefono}"disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="margin-top: -10px;">
                                                <label>DNI</label>
                                                <input name="dni" id="dni" type="text" class="form-control" th:value="${paciente.dni}"disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="margin-top: -93px;">
                                                <label>Fecha Nacimiento</label>
                                                <input name="fechaNacimiento" id="fechaNacimiento" type="date" class="form-control" th:value="${paciente.fechaNacimiento}"disabled>
                                            </div>
                                        </div>
                                        <select name="idObraSocial" style="margin-top: 30px; margin-left: 15px ;width: 370px">
                                            <option>Obra social</option>
                                            <option name="obraSocial" th:each="obraSocial : ${obraSociales}" th:value="${obraSocial.id}" th:text="${obraSocial.nombre}" th:selected="${obraSocial.id == paciente.obraSocial.getId}"></option>
                                        </select>

                                        <div class="col-md-6">
                                            <div class="form-group" style="margin-top: -65px; margin-left: 0px; width: 370px;">
                                                <label>N° Obra Social</label>
                                                <input name="nroObraSocial" id="nro-obra-social" type="text" class="form-control" th:value="${paciente.nroObraSocial}"disabled>
                                            </div>


                                            <div class="form-group">
                                                <label>Imagen</label>
                                                <input  type="file" class="form-control" name="archivo" >
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <input name="password" style="display: none" type="password" class="form-control" id="nom"
                                                   th:value="${session.usuariosession.password}" disabled>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-light" id="guarda"
                                                style="display: none;">Guardar</button>
                                    </div>
                                </form>    
                            </div> 
                             
                            <div class="row">
                                <button class="btn btn-primary col-ms-6" id="habilita"
                                        onclick="habilitarInput()" style="margin-left: 150px;">Editar</button>
                                <div class="col-md-6 text-md-right">
                                    <button class="btn btn-warning">Solicitar Baja</button>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                            <h3 class="mb-4">Sacar Turno</h3>
                            <div class="row">
                                <select class="custom-select custom-select-sm" style="margin-left: 0px; width: 150px;">
                                    <option selected>Especialidad</option>
                                    <option value="1">Pediatria</option>
                                    <option value="2">Ginecologia</option>
                                    <option value="3">Clinica</option>
                                    <option value="4">Cardiologia</option>
                                </select>
                                <select class="custom-select custom-select-sm" style="margin-left: 40px; width: 150px;">
                                    <option selected>Reputacion</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <select class="custom-select custom-select-sm" style="margin-left: 40px; width: 150px;">
                                    <option>Obra social</option>
                                    <option th:each="obraSocial : ${obraSociales}" th:value="${obraSocial.id}" th:text="${obraSocial.nombre}"></option>
                                </select>
                                <select class="custom-select custom-select-sm" style=" margin-left: 40px; width: 150px;">
                                    <option selected>Profesional</option>
                                    <option value="1">Eze Lopez</option>
                                    <option value="2">Nico Fernandez</option>
                                    <option value="3">Dal Ponce</option>
                                    <option value="4">Luci Chaparro</option>
                                </select>
                                <!--                                <div class="custom-select custom-select-sm" style=" margin-left: 0px; width: 150px; margin-top: 10%;"> </div>-->
                                <div><label></label>
                                    <input type="date" style="margin-top: 50px; margin-left: -5px; width: 150px">
                                </div>

                                <div> <label></label>
                                    <input type="time" style="margin-top: 50px; margin-left: 35px; width: 150px">
                                </div>


                                <!--                                <div class="custom-select custom-select-sm" style=" margin-left: 40px; width: 150px;margin-top: 10%;">
                                
                                
                                                                </div>-->

                            </div>
                            <!--                            <div class="row">
                                                        </div>-->
                            <div>
                                <button class="btn btn-primary" style="margin-left: -2%; margin-top: 170px;">Reservar</button>    
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                            <h3 class="mb-4">Modificar Turno</h3>
                            <div class="row">
                                <div class="table-responsive-sm p-3">
                                    <table class="table  table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Profesional</th>
                                                <th scope="col">Dia</th>
                                                <th scope="col">Hora</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Acciones</th>

                                            </tr>
                                            <!--                                        <td>
                                                                                        <a class="" th:href= "@{/paciente/modificar/${paciente.id}}">Modificar</a>
                                                                                        <a class="p-2" th:href= "@{/paciente/eliminar/${paciente.id}}">Eliminar</a>
                                                                                    </td> -->

                                        </thead>
                                        <tbody>
                                            <tr th:each="paciente : ${pacientes}">
                                                <td th:text="${paciente.nombre}"></td>
                                                <td th:text="${paciente.apellido}"</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div>
                                                        <button class="btn btn-primary col-ms-6" id="habilita"
                                                                onclick="habilitarInput()" style="margin-bottom: 10px; width: 100px">Calificar</button>
                                                    </div>  
                                                    <div>
                                                        <button class="btn btn-primary col-ms-6" id="habilita"
                                                                onclick="habilitarInput()" style="width: 100px">Cancelar</button>
                                                        <!--                                                    <a class="" th:href= "@{/paciente/modificar/${paciente.id}}">Modificar</a>
                                                                                                            <a class="p-2" th:href= "@{/paciente/eliminar/${paciente.id}}">Cancelar</a>-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--                            <button href ="/lista" type="button" class="btn btn-warning btn-lg btn-responsive" id="search">Modificar</button>                          -->
                                <!--                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Fecha</th>
                                                                        <th scope="col">Episodio</th>
                                                                        <th scope="col">Especialidad</th>
                                                                        <th scope="col">Profesional</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row"></th>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row"></th>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row"></th>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>-->

                            </div>
                            <!--                    <div>
                                                        <button class="btn btn-primary">Modificar</button>
                                                        <button class="btn btn-light">Cancelar</button>
                                                    </div>-->
                        </div>                
                        <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                            <h3 class="mb-4">Cambiar Contraseña</h3>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <form class="text-center p-3" method="POST" th:action="@{/profesional/modificar/${session.usuariosession.id}}">
                                        <div class="form-group">
                                            <label for="inputPassword5" class="form-label">Contraseña
                                                Actual</label>
                                            <input type="password" id="inputPassword5" class="form-control"
                                                   aria-labelledby="passwordHelpBlock">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword5" class="form-label">Nueva Contraseña</label>
                                            <input type="password" id="inputPassword5" class="form-control"
                                                   aria-labelledby="passwordHelpBlock">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword5" class="form-label">Confirmar Contraseña</label>
                                            <input type="password" id="inputPassword5" class="form-control"
                                                   aria-labelledby="passwordHelpBlock">
                                        </div>
                                        <button type="submit" class="btn btn-light mt-3">Cambiar</button>
                                    </form>
                                </div>
                                <!--                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Fecha</th>
                                                                                <th scope="col">Horario</th>
                                                                                <th scope="col">Paciente</th>
                                                                                <th scope="col">Estado</th>
                                                                                <th scope="col">Profesional</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row"></th>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"></th>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"></th>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>-->

                            </div>
                            <!--                    <div>
                                                        <button class="btn btn-primary">Modificar</button>
                                                        <button class="btn btn-light">Cancelar</button>
                                                    </div>-->
                        </div>                
                        <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                            <h3 class="mb-4">Cambiar Contraseña</h3>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <form class="text-center p-3" method="POST" th:action="@{/paciente/cambiarcontasenia/__${paciente.id}__}">
                                        <div class="form-group">
                                            <label for="inputPassword5" class="form-label">Contraseña
                                                Actual</label>
                                            <input type="password" name="contraVieja" id="inputPassword5" class="form-control"
                                                   aria-labelledby="passwordHelpBlock">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword5" class="form-label">Nueva Contraseña</label>
                                            <input type="password" name="contraNueva" id="inputPassword5" class="form-control"
                                                   aria-labelledby="passwordHelpBlock">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword5"   class="form-label">Confirmar Contraseña</label>
                                            <input type="password" name="contraComparar" id="inputPassword5" class="form-control"
                                                   aria-labelledby="passwordHelpBlock">
                                        </div>
                                        <button type="submit" class="btn btn-light mt-3">Cambiar</button>
                                    </form>
                                </div>
                                <!--                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Fecha</th>
                                                                                <th scope="col">Horario</th>
                                                                                <th scope="col">Paciente</th>
                                                                                <th scope="col">Estado</th>
                                                                                <th scope="col">Profesional</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row"></th>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"></th>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"></th>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
                                                                    function habilitarInput() {
                                                                        let inputs = ["nombre", "apellido", "mail", "telefono", "dni", "fechaNacimiento", "nro-obra-social"];
                                                                        let habilita = document.getElementById("habilita");
                                                                        let guardar = document.getElementById("guarda");

                                                                        for (let i = 0; i < inputs.length; i++) {
                                                                            let input = document.getElementById(inputs[i]);
                                                                            input.disabled = !input.disabled;
                                                                        }

                                                                        if (habilita.innerText === "Editar") {

                                                                            habilita.innerText = "Cancelar";
                                                                            guardar.style.display = "inline-block";
                                                                        } else {
                                                                            habilita.innerText = "Editar";
                                                                            guardar.style.display = "none";
                                                                        }

                                                                    }
</script>

</body>

</html>