<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaf.org">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section> 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cuerpo</th>
                        <th>Fecha</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody th:each="paciente : ${pacientes}">
                    <tr>
                        <td scope="row" th:text="${paciente.nombre}"></td>
                        <td th:text="${paciente.apellido}"></td>
                        <td th:text="${paciente.edad}"></td>
                        <td>                             <!--__${noticia.id}__-->
                            <a th:href="@{/paciente/modificar/{id}(id=${paciente.id_paciente})}">
                                <button type="submit" class="btn btn-secondary">Modificar</button>
                            </a>
                        </td>

                    </tr>       
                </tbody>
            </table>
        </section>
    </body>
</html>
