<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/css/registro.css" rel="stylesheet" type="text/css">

        <link th:href = "@{/css/headerstyle.css}" rel="stylesheet"> 
        <link th:href = "@{/css/footerstyle.css}" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>


        <title>Modificar datos del profesional</title>
    </head>
    <body class="container">

        <header th:replace ="/fragments/header :: header"> </header>
        
        <div class="container" id="advanced-search-form">
            <h2 class="text-center header">Modificar datos del perfil</h2>
            <form th:action="@{/admin/dashboard/listaProfesionales/modificar/__${profesional.id}__}" method="POST">
                <input hidden th:value= "${id}" name="id">

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input th:value="${profesional.nombre}" type="text" class="form-control" name="nombre" placeholder="" id="nombre">
                </div>
                <div class="form-group">
                    <label for="surname">Apellido</label>
                    <input th:value="${profesional.apellido}" type="text" class="form-control" name="apellido" placeholder="" id="surname">
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input th:value="${profesional.dni}" type="text" class="form-control" name="dni" placeholder="" id="dni">
                </div>
                <div class="form-group">
                    <label for="fechaNacimiento">Fecha de nacimiento</label>
                    <input th:value="${profesional.fechaNacimiento}" type="date" class="form-control"  name="fechaNacimiento" placeholder="" id="fechaNacimiento">
                </div>
                <div class="form-group">
                    <label for="matricula">Matricula</label>
                    <input th:value="${profesional.matricula}" type="text" class="form-control" name="matricula" placeholder="" id="matricula">
                </div>
                <div class="form-group">
                    <label for="especialidad">Especialidad</label>
                    <input th:value="${profesional.especialidad}" type="text" class="form-control" name="especialidad" placeholder="" id="especialidad">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input th:value="${profesional.telefono}" type="number" class="form-control" name="telefono" placeholder="" id="telefono">
                </div>
                <div class="form-group">
                    <label for="mail">Email</label>
                    <input th:value="${profesional.mail}" type="email" class="form-control" name="mail" placeholder="" id="mail">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input th:value="${profesional.password}" type="password" class="form-control" name="password" placeholder="" id="password">
                </div>
                <!-- <div class="form-group">
                     <label for="obra-social">Obra Social</label>
                     <input type="text" class="form-control" name="" placeholder="" id="obra-social">
                 </div>-->
                <div class="form-group">
                    <label for="valor-consulta">Valor consulta</label>
                    <input th:value="${profesional.valorConsulta}" type="number" class="form-control" name="valorConsulta" placeholder="" id="valor-consulta">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción especialidad:</label>
                    <input th:value="${profesional.descripcionEspecialidad}" type="text" class="form-control" name="descripcionEspecialidad" placeholder="" id="descripcion">
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class=""></span>
                    Actualizar</button>


                <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3" >
                    <div class="card-body">
                        <h5 class="card-title">Exito 👍</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
                    <div class="card-body">
                        <h5 class="card-title">Error 👎</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
            </form>



        </div>
        <footer th:replace ="/fragments/footer :: footer"> </footer>
    </body>
</html>
