<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
              integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link href="/css/headerstyle.css" rel="stylesheet">
        <link th:href = "@{/css/footerstyle.css}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
        <link href="/css/registro.css" rel="stylesheet" type="text/css">
        <title>Registro Profesional</title>
        <style>
         * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style-type: none;
            text-decoration: none;
        }
        </style>
    </head>
    <body class="container">
        <header class="header">
        <div class="logoth">
            <img src="/img/logo5t.png" alt="Logo de la marca">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/}">Inicio</a></li>
            </ul>
        </nav>
        <a class="btnth" href="/logout"><button>Cerrar Sesión</button></a>
    </header>

        <main>
            <div class="container" id="advanced-search-form">
                <h2 class="text-center header" style="color: white;">Registro Profesional</h2>
                <form action="/profesional/registroP" method="POST">

                    <div th:if="${error != null}" class="card text-white bg-danger mb-3" >
                        <div class="card-body">
                            <h5 class="card-title">Error 👎</h5>
                            <p class="card-text" th:text="${error}"></p>
                        </div>
                    </div>
                    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3" >
                        <div class="card-body">
                            <h5 class="card-title">Exito!</h5>
                            <p class="card-text" th:text="${exito}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first-name">Nombre</label>
                        <input type="text" class="form-control" name="nombre" placeholder="" id="first-name">
                    </div>
                    <div class="form-group">
                        <label for="surname">Apellido</label>
                        <input type="text" class="form-control" name="apellido" placeholder="" id="surname">
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" class="form-control" name="dni" placeholder="" id="dni">
                    </div>
                    <div class="form-group">
                        <label for="age">Fecha de nacimiento</label>
                        <input type="date" class="form-control"  name="fechaNacimiento" placeholder="" id="age">
                    </div>
                    <div class="form-group">
                        <label for="matricula">Matricula</label>
                        <input type="text" class="form-control" name="matricula" placeholder="" id="matricula">
                    </div>
                    <div class="form-group">
                        <label for="especialidad">Especialidad</label>
                        <input type="text" class="form-control" name="especialidad" placeholder="" id="especialidad">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="number" class="form-control" name="telefono" placeholder="" id="telefono">
                    </div>
                    <div class="form-group">
                        <label for="correo">Email</label>
                        <input type="email" class="form-control" name="mail" placeholder="" id="correo">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Contraseña</label>
                        <input type="password" class="form-control" name="password" placeholder="" id="last-name">
                    </div>
                    <div class="form-group">
                        <label for="valor-consulta">Valor consulta</label>
                        <input type="number" class="form-control" name="valorConsulta" placeholder="" id="valor-consulta">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción especialidad:</label>
                        <input type="text" class="form-control" name="descripcionEspecialidad" placeholder="" id="descripcion">
                    </div>
                    <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class=""></span>
                        Registrar</button>
                </form>
            </div>
        </main>
        <footer th:replace ="/fragments/footer :: footer"></footer>
    </body>
</html>
