<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="utf-8">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="registro.css">
            <title>Registro Paciente</title>
        </head>
        <body>
            <div class="container" id="advanced-search-form">
                <h2 class="text-center header">Paciente</h2>
                <form action="/paciente/registro" method="POST">
                    <div class="form-group">
                        <label for="first-name">Nombre</label>
                        <input type="text" class="form-control" name="nombre" placeholder="" id="first-name">
                    </div>
                    <div class="form-group">
                        <label for="surname">Apellido</label>
                        <input type="text" class="form-control" name="apellido" placeholder="" id="surname">
                    </div>
                    <div class="form-group">
                        <label for="correo">Email</label>
                        <input type="email" class="form-control" name="mail" placeholder="" id="correo">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Contraseña</label>
                        <input type="password" class="form-control" name="password" placeholder="" id="last-name">
                    </div>
                   <!-- <div class="form-group">
                        <label for="obra-social">Obra Social</label>
                        <input type="text" class="form-control" name="" placeholder="" id="obra-social">
                    </div>
                    <div class="form-group">
                        <label for="nro-obra-social">N° Obra Social</label>
                        <input type="text" class="form-control" placeholder="" id="nro-obra-social">
                    </div> -->
                    <div class="form-group">
                        <label for="age">Fecha de nacimiento</label>
                        <input type="date" class="form-control"  name="fechaNacimiento" placeholder="" id="age">
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" class="form-control" name="dni" placeholder="" id="dni">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="number" class="form-control" name="telefono" placeholder="" id="telefono">
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class=""></span>
                        Registrar</button>
            </form>
            </div>
        </body>
</html>
