<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/registro.css">
    <title>Registro Paciente</title>
</head>
<body>
<div class="container" id="advanced-search-form">
    <h2 class="text-center header">Registro Paciente</h2>
    <div></div>
    <form action="/paciente/registro" method="POST" enctype="multipart/form-data" >

        <div th:if="${error != null}" class="card text-white bg-danger mb-3" >
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>

        <div class="form-group">
            <input type="file" class="form-control" name="archivo" >
        </div>
        <div class="form-group">
            <label for="first-name">Nombre</label>
            <input type="text" class="form-control" name="nombre" placeholder="" id="first-name">
        </div>
        <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" class="form-control" name="apellido" placeholder="" id="surname">
        </div>
        <div class="form-group">
            <label for="correo">Email</label>
            <input type="email" class="form-control" name="mail" placeholder="" id="correo">
        </div>
        <div class="form-group">
            <label for="last-name">Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="" id="last-name">
        </div>

        <div class="form-group">
             <label>Obra Social</label>

            <select name="idObraSocial">
                <option>Seleccione obra social</option>
                <option th:each="obraSocial : ${obrasSociales}" th:value="${obraSocial.id}" th:text="${obraSocial.nombre}" ></option>
            </select>
         </div>

         <div class="form-group">
             <label for="nro-obra-social">N° Obra Social</label>
             <input name="nroObraSocial" type="text" class="form-control" placeholder="" id="nro-obra-social">
         </div>
        <div class="form-group">
            <label for="age">Fecha de nacimiento</label>
            <input type="date" class="form-control"  name="fechaNacimiento" placeholder="" id="age">
        </div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" class="form-control" name="dni" placeholder="" id="dni">
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="number" class="form-control" name="telefono" placeholder="" id="telefono">
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class=""></span>
            Registrar</button>
    </form>
</div>
</body>
</html>