<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OS</title>
</head>
<body>
<form action="/obra-social/registro-os" method="POST">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="" id="nombre">
    </div>
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class=""></span>
        Registrar</button>
</form>
</body>
</html>