<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href = "@{/css/headerstyle.css}" rel="stylesheet">
    <link th:href = "@{/css/footerstyle.css}" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <title>Registro Profesional</title>
</head>
<body style="display: flex; flex-direction: column; height: 100vh;">
<header class="header">
    <div class="logoth">
        <img src="/img/logo5t.png" alt="Logo de la marca">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a th:href="@{/inicio}">Inicio</a></li>
        </ul>
    </nav>
    <a class="btnth" href="/logout"><button>Cerrar Sesión</button></a>
</header>
<main id="advanced-search-form" style="display: flex; flex-direction: column; align-items: center; flex-grow: 1; background-image: url('/img/fregistro.jpg');  background-size: cover; background-position: center;  background-repeat: no-repeat; justify-content: center;">
    <div style="background-color: #2a565c5c; padding: 20px 0px; margin-top: 30px; width: 50%; margin-bottom: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h2 class="text-center" style="margin-bottom: 35px;">Registro Paciente</h2>
        <form enctype="multipart/form-data" method="POST" action="/admin/dashboard/crearPaciente" style="padding: 25px 0px; color: #1c4a5a;">
            <div style="display: flex; padding: 15px;">
                <!-- nombre y apellido -->
                <div style="display: flex; flex-direction: column; margin-right: 50px;">
                    <div style="display: flex; flex-direction: row;">
                        <div style="display: flex; flex-direction: column; margin-bottom: 20px; width: 45%; margin-right: 10%;">
                            <label style="margin-bottom: 6px; font-weight: 600;">Nombre</label>
                            <input name="nombre" id="nombre" type="text" style="border: 1px solid gray; padding: 5px 8px; border-radius: 5px;" autofocus>
                        </div>
                        <div style="display: flex; flex-direction: column; margin-bottom: 20px; width: 45%;">
                            <label style="margin-bottom: 6px; font-weight: 600;">Apellido</label>
                            <input  name="apellido" id="apellido" type="text" style="border: 1px solid gray; padding: 5px 8px; border-radius: 5px;">
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
                        <label style="margin-bottom: 6px; font-weight: 600;">Email</label>
                        <input name="mail" id="mail" type="text" style="border: 1px solid gray; padding: 5px 8px; border-radius: 5px;">
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div style="display: flex; flex-direction: column; margin-bottom: 20px; width: 45%; margin-right: 10%;">
                            <label style="margin-bottom: 6px; font-weight: 600;">Telefono</label>
                            <input name="telefono" id="telefono" type="text"style="border: 1px solid gray; padding: 5px 8px; border-radius: 5px;">
                        </div>
                        <div style="display: flex; flex-direction: column; margin-bottom: 20px; width: 45%;">
                            <label style="margin-bottom: 6px; font-weight: 600;">DNI</label>
                            <input name="dni" id="dni" type="text" style="border: 1px solid gray; padding: 5px 8px; border-radius: 5px;">
                        </div>
                    </div>
                </div>
                <!-- fecha de nacimiento, obras sociales, numero de obra social, imagen de perfil-->
                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row; align-items: baseline; margin-top: 25px; margin-bottom: 20px;">
                        <div style="display: flex; flex-direction: column; width: 45%; margin-right: 10%;">
                            <input name="fechaNacimiento" id="fechaNacimiento" type="date" style="border: 1px solid gray; padding: 4px 8px; border-radius: 5px;">
                        </div>
                        <select name="idObraSocial" style="border: 1px solid gray; padding: 6px 8px; width: 45%; border-radius: 5px; color: #000;">
                            <option>Obra social</option>
                            <option name="obraSocial" th:each="obraSocial : ${obraSociales}" th:value="${obraSocial.id}" th:text="${obraSocial.nombre}" th:selected="${obraSocial.id == paciente.obraSocial.getId}"></option>
                        </select>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
                        <label style="margin-bottom: 6px; font-weight: 600;">N° Obra Social</label>
                        <input name="nroObraSocial" id="nro-obra-social" type="text" style="border: 1px solid gray; padding: 5px 8px; border-radius: 5px;">
                    </div>
                    <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
                        <label style="margin-bottom: 6px; font-weight: 600;">Imagen</label>
                        <input id="imagen-perfil" type="file" name="archivo" style="padding: 5px 0px; border-radius: 5px;">
                    </div>
                    <div>
                        <input name="password" type="password" id="nom" style="display: none;">
                    </div>
                    <div>
                        <button type="submit" id="guarda" style="padding: 5px 10px; background-color: #1c4a5a; border-radius: 5px; color: #fff; display: none;">Guardar</button>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <div class="form-group" style="justify-content: center; display: flex; width: 45%;">
                    <button type="submit" class="btn-info btn-lg btn-responsive" id="search" style="background-color: #1c4a5a; border: transparent; margin-right: 30px;">Enviar</button>
                    <button type="button" onclick="window.location.href='/admin/dashboard'" class="btn-info btn-lg btn-responsive" id="cancel" style=" background-color: #1c4a5a; border: transparent;">Cancelar</button>
                </div>
            </div>
<!--            <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search" style="margin: 20px; background-color: #1c4a5a; border: transparent;">Registrar</button>-->
        </form>
        <!--        <div th:if="${error != null}" class="card text-white bg-danger mb-3" >-->
        <!--            <div class="card-body">-->
        <!--                <h5 class="card-title">Error 👎</h5>-->
        <!--                <p class="card-text" th:text="${error}"></p>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3" >-->
        <!--            <div class="card-body">-->
        <!--                <h5 class="card-title">Exito!</h5>-->
        <!--                <p class="card-text" th:text="${exito}"></p>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</main>
<footer th:replace ="/fragments/footer :: footer"></footer>
</body>
</html>